<footer class="<%= remove_footer_from_home%>">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft paddingtop-bottom" ">
        <h6 class="heading7">BUDDYKITE</h6>
        <p>Address </p>
        <p><i class="fa fa-map-pin"></i> 107,  cours Balgueries stuttenberg , 33000 Bordeaux - FRANCE</p>
        <p><i class="fa fa-phone"></i> Phone (France) : +05 33 33 33 33 </p>
        <p><i class="fa fa-envelope"></i> E-mail : info@wbuddykite.com</p>

      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#" class="fa fa-home"> Home</a></li>
          <li><a href="#" class="fa fa-envelope" > Email us</a></li>
          <li><a href="#" class="fa fa-file-pdf-o"> Terms & Conditions</a></li>
          <li><a href="#" class="fa fa-wpexplorer"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>Come and get some Kite with me <span>January 30,2017</span></p>
          <p>KiteSurf around me <span>March 3,2017</span></p>
          <p>BuddyKite Testimonies <span>May 5,2017</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook"  class="fa fa-facebook" > Facebook</a></blockquote>
             <blockquote cite="https://www.twitter.com"><a href="https://www.twitter.com" class="fa fa-twitter"> Twitter</a></blockquote>
          </div>
           <blockquote cite="https://www.instagram.com"><a href="https://www.instagram.com" class="fa fa-instagra"> Instagram</a></blockquote>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>© 2017 - All Rights reserved Buddy Kite</p>
      </div>
    </div>
  </div>
</footer>

