<div class="wrapper-index">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="header">
          <h2><%= "Category : " + @category.capitalize %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <% @gears.each do |gear| %>
        <div class="col-sm-6 col-md-4">
          <%= render partial: 'card', locals: { item: gear } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
