.banner {
  background-size: cover !important;
  display: flex;
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  align-items: center;
  justify-content: center;
  padding: 100px;
  position: relative;
  margin-top: -75px;
}

.banner h1 {
  font-size: 50px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.banner-logo {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-banner {
  max-width: 80px;
  width: 90%;
}

.banner-tag {
  margin-bottom: 50px;
  h1 {
    font-size: 44px;
  }
}
@media (max-width: 1024px) {
  .banner-high {
    padding: 50px;
  }
  .banner-tag {
    h1 {
    font-size: 32px;
    }
  }
}


.login-home {
  position: absolute;
  top : 20px;
  right: 20px;
}

#login-home-link {
    font-size: 14px;
    color: white;
    &:hover {
    color: $blue;
    decoration: none;
    }
  }
