.btn-booking {
    position: fixed;
    top: 86px;
    right: 50px;
  }

.btn-booking:hover{

  }

.frm-booking {
  padding: 10px;
  position: fixed;
  top: 120px;
  right: 50px;
  background-color: white;
  height:60%;
  width: 30%;
  box-shadow: 3px, 3px, 3px, gray;
  vertical-align: center;
  border-radius: 3px;
}

.bg-gray{
  background-color: $darkergray;
  color:white;
  text-align: center;
  font-size: 20px;

}
